.cabeza {
  height: 100vh;
  width: 100%;
  background: url(./BgPrincipal.png) !important;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.cabeza .img {
  width: auto;
  height: 100%;
  background: none !important;
}
.cabeza .encabezado {
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-style: solid;
  border-color: #4FA172;
  background: none;
  transition: background 1s ease;
}
.cabeza .encabezado .title {
  width: 100%;
  color: #fff;
  text-align: center;
}
.cabeza .encabezado .sub-title {
  width: 100%;
  background: #333333;
  color: #6FB9A3;
  padding: 0.7rem;
}
.cabeza :hover {
  background: #333333;
  border-style: none;
}
.cabeza :hover .title {
  color: #6FB9A3;
  background: none;
  box-shadow: none;
}
.cabeza :hover .sub-title {
  background: #FFFFFF;
  color: #63666A;
  box-shadow: none;
}

.Racional {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background: #000;
  background-size: cover;
  background-position: right center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Racional .about {
  height: 100%;
  width: 60%;
  padding: 4rem 3rem;
  background: #4FA172;
  -webkit-clip-path: polygon(0 0, 100% 0, 78% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 78% 100%, 0% 100%);
}
.Racional .about .titular {
  width: 70%;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  color: #FFFFFF;
}
.Racional .about .cuerpo {
  width: 75%;
  font-size: 1.2rem;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.Racional .about .cuerpo strong {
  font-size: 1.3rem;
  color: #FFFFFF;
}
.Racional .logoF {
  width: auto;
  height: 40%;
}

@media screen and (max-width: 768px) {
  .cabeza {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cabeza .img {
    z-index: 60;
    position: absolute;
  }
  .cabeza .encabezado {
    z-index: 70;
  }
  .cabeza .encabezado .title {
    font-size: 3rem;
  }
  .cabeza .encabezado .sub-title {
    font-size: 3rem;
  }
  .Racional {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .Racional .about {
    width: 100%;
    -webkit-clip-path: none;
            clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333333;
  }
  .Racional .about .titular {
    width: 100%;
    text-align: center;
    font-size: 3.2rem;
    color: #4FA172;
  }
  .Racional .about .cuerpo {
    width: 90%;
    text-align: justify;
    font-size: 2rem;
    color: #FFFFFF;
  }
  .Racional .about .cuerpo strong {
    font-size: 2.2rem;
    color: #4FA172;
  }
  .Racional .logoF {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .cabeza {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cabeza .img {
    z-index: 60;
    position: absolute;
  }
  .cabeza .encabezado {
    z-index: 70;
  }
  .cabeza .encabezado .title {
    font-size: 2rem;
  }
  .cabeza .encabezado .sub-title {
    font-size: 1.4rem;
  }
  .Racional .about {
    padding: 1.5rem;
  }
  .Racional .about .titular {
    font-size: 2.5rem;
  }
  .Racional .about .cuerpo {
    font-size: 1.5rem;
  }
  .Racional .about .cuerpo strong {
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=home.css.map */