.menu {
  height: 70px;
  width: 100%;
  background: #333333;
  color: #6FB9A3;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}
.menu .Linklogo {
  width: 45%;
  height: 100%;
  text-decoration: none;
  padding-left: 0rem;
  display: flex;
  align-items: center;
  z-index: 99;
}
.menu .Linklogo .logo {
  height: 40px;
  padding-left: 1.5rem;
}
.menu .enlaces {
  right: 0;
  width: 55%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-right: 0.5rem;
  list-style: none;
  margin: 0;
}
.menu .enlaces li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333333;
}
.menu .enlaces li .link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #6FB9A3;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  font-size: 1.8rem;
  height: 3.1rem;
  margin: 0;
  padding: 0.5rem;
}
.menu .enlaces li .localizador {
  width: 0;
  height: 3px;
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
  transition: 0.4s ease-in;
  margin: 0 5px;
}
.menu .enlaces :hover .link {
  color: #4FA172;
}
.menu .enlaces :hover .localizador {
  width: 100%;
  height: 3px;
  background: #63666A;
  border-radius: 5px;
}
.menu .enlaces .active .link {
  color: #4FA172;
}
.menu .enlaces .active .localizador {
  width: 100%;
  height: 3px;
  background: #63666A;
  border-radius: 5px;
}
.menu .navToggler {
  cursor: pointer;
  display: none;
  height: auto;
  padding: 0.9rem;
}
.menu .navToggler .fa-bars {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  margin: 0.2rem;
  color: #6FB9A3;
  font-size: 1.5rem;
}
.menu .navToggler .fa-times {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  margin: 0.2rem;
  color: #6FB9A3;
  display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    align-items: center;
    /*navbar activo */
  }
  .menu .Linklogo {
    z-index: 99;
  }
  .menu .Linklogo .logo {
    height: 30px;
    padding-left: 0.2rem;
  }
  .menu .navToggler {
    display: block;
    z-index: 90;
  }
  .menu .enlaces {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    height: 0;
    flex-direction: column;
    transform: translatex(2000px);
    opacity: 0;
    transition: 0.9s ease-in;
    z-index: 90;
  }
  .menu .enlaces li {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .menu .enlaces li .link {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu .enlaces .active .localizador {
    width: 200x;
    height: 3px;
    background: #63666A;
    border-radius: 5px;
  }
  .menu .navActivo {
    height: 500px;
    width: 100%;
    transform: translatex(0);
    background: #333333;
    justify-content: flex-start;
    align-items: center;
    z-index: 90;
    opacity: 1;
  }
  .menu .navActivo .active {
    background: #333333;
    height: 50px;
    opacity: 1;
  }
  .menu .navActivo :hover .localizador {
    width: 200px;
  }
}/*# sourceMappingURL=menu.css.map */